<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div style="margin-top: 70px;width: 80%;position: absolute;right: 0;padding:0.8rem;">
    <h5>Dashboard</h5>
    <div class="d-flex">
        <div style="width: 35%;border-right: 1px solid gray;">
            <h6>IPO Dashboard India</h6>
            <p class="text-muted"> IPO in Gain</p>
        </div>
        <div style="width: 30%;border-right: 1px solid gray;">
            <h6>Quick Links</h6>
        </div>
        <div style="width: 35%;">
            <h6>Main Board IPO</h6>
        </div>
    </div>

</div>