.body {
    margin-top: 70px;
    width: 80%;
    position: absolute;
    right: 0;
    padding: 0.8rem;
}

.ipo-circle {
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-ipo-circle {
    position: relative;
    background-color: #F99C30;
    width: 150px;
    height: 150px;
    transform: translate(35%, 5%);
    z-index: 2;
    filter: opacity(85%);
}

.section {
    width: 35%;
    border-right: 1px solid gray;
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}

.ipo-loss-circle {
    position: relative;
    background-color: #6463D6;
    width: 110px;
    height: 110px;
    transform: translate(30%, -30%);
    z-index: 3;
    filter: opacity(75%);
}

.ipo-gain-circle {
    position: relative;
    background-color: #2FBFDE;
    width: 120px;
    height: 120px;
    transform: translate(-70%, 40%);
    z-index: 2;
    filter: opacity(95%);
}

.circle-sm {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.legend-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

/* Adjust colors to match your theme */
.legend-circle.bg-primary {
    background-color: #8593ED !important;
}

/* Purple for Upcoming */
.legend-circle.bg-info {
    background-color: #5A6ACF !important;
}

/* Blue for New Listed */
.legend-circle.bg-success {
    background-color: #C7CEFF !important;
}

/* Green for Ongoing */

.bg-primary {
    background-color: #8593ED !important;
}

.bg-info {
    background-color: #5A6ACF !important;
}

.bg-success {
    background-color: #C7CEFF !important;
}

@media (max-width:940px) {
    .main-body {
        flex-direction: column;
    }
    .section{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid gray;
        padding: 10px;
    }
}
@media (max-width:524px) {
    .main-body {
        margin-left: 1rem;
    }
    .section{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    .body{
        width:70%;
    }
}