<nav class="contain font-poppins navbar navbar-expand-lg bg-body-tertiary">
  <div class="title">
    <img src="../../assets/bluestock-logo.png" alt="Bluestock Logo" class="logo" />
    <h4 class="font-poppins bluestock-header">BLUESTOCK</h4>
  </div>
<!--  -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
   <i class="fa-solid fa-grip-vertical fa-2x" style="color: #1c1c1c;" ></i>
 </span>
    </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
<!--  -->
  <ul class="links navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="#products" class="text-muted">PRODUCTS</a></li>
    <li class="nav-item"><a class="nav-link" href="#pricing" class="text-muted">PRICING</a></li>
    <li class="nav-item"><a class="nav-link" href="#community" class="text-muted">COMMUNITY</a></li>
    <li class="nav-item"><a class="nav-link" href="#media" class="text-muted">MEDIA ▾</a></li>
    <li class="nav-item"><a class="nav-link" href="#support" class="text-muted">SUPPORT ↗</a></li>
  </ul>

  <div class="buttons">
    <button class="sign-in btn" (click)="goToPage('sign-in')">Sign In</button>
    <button class="blue-white-btn btn p-2" (click)="goToPage('sign-up')">Sign Up Now</button>
  </div>

  <!-- <div class="menu-icon">
   <i class="fa-solid fa-grip-vertical fa-2x" style="color: #1c1c1c;" ></i>
  </div> -->
  </div>
</nav>

