.bluestock-cname{
    height:60px ;
    border-bottom: 1px solid gray;
}
.text-gray{
    color: rgb(110, 115, 120);
}
.initials{
    background-color: #5A67BA;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #F1F2F7;
    font-size: 0.9rem;
}
.text-purple{
    color: #5A67BA;
    font-weight: 600;
}

a{
    text-decoration: none;
}
a i{
    margin-right: 1.3rem;
    font-size: 1.3rem;
}
li{
    list-style: none;
    margin-top: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
}
@media (max-width:650px) {
    a i{
        margin-right: 0.2rem;
        
    }
}
@media (max-width:600px) {
    .sidebar{
        font-size: 0.8rem;
    }
    .initials{
        display: none;
    }
    .bluestock-cname{
        height: 50px;
    }
}
@media (max-width:524px) {
  .sidebar{
    min-width:30%;
  }
  .menu,.others{
    width: 100%;
  }
  .bluestock-cname{
    padding: 0%;
        word-break: break-all;
        display: inline;
    }
}