<div class="container-lg font-poppins">
    <div class="all-links flex-wrap">
        <ul>
            <strong>Resources</strong>
            <li> <a href="">Trading View</a></li>
            <li><a href="">NSE Holidays</a></li>
            <li><a href="">e-Voting CDSL</a></li>
            <li><a href="">e-Voting NSDL</a></li>
            <li><a href="">Market Timings</a></li>
        </ul>
        <ul>
            <strong>Company</strong>
            <li><a href="">Careers</a></li>
            <li> <a href="">Contact Us</a></li>
            <li> <a href="">About Us</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Blogs</a></li>
        </ul>
        <ul>
            <strong>Offerings</strong>
            <li><a href="">Compare Broker </a></li>
            <li><a href="">Fin Calculators</a></li>
            <li> <a href="">IPO</a></li>
            <li><a href="">All Brokers</a></li>
            <li><a href="">Products</a></li>
        </ul>
        <ul>
            <strong>Links</strong>
            <li><a href="">Shark Investor </a></li>
            <li><a href="">Mutual Funds</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Indian Indices</a></li>
            <li><a href="">Bug Bounty Program</a></li>
        </ul>
        <ul>
            <strong>Policy</strong>
            <li><a href="">Terms & Conditions </a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Refund Policy</a></li>
            <li><a href="">Disclaimer</a></li>
            <li><a href="">Trust & Security</a></li>
        </ul>
    </div>
    <div class="contact  row text-muted">
        <div class="d-flex flex-column contact-brands col-lg-4 col-md-5 col-sm-12 align-items-center ">
            <div class="icons">
                <a href=""><i class="fa-brands fa-x-twitter fa-2x" style="color: #0078FF;"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f  fa-2x" style="color: #0078FF;"></i></a>
                <a href=""><i class="fa-brands fa-youtube fa-2x" style="color: #0078FF;"></i></a>
                <a href=""><i class="fa-brands fa-linkedin fa-2x" style="color: #0078FF;"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x" style="color: #0078FF;"></i></a>
                <a href=""><i class="fa-brands fa-telegram fa-2x" style="color: #0078FF;"></i></a>
            </div>
             <div class="title my-1">
                <img src="../../assets/bluestock-logo.png" alt="Bluestock Logo" class="logo" />
                <h4 class="font-poppins bluestock-header">BLUESTOCK</h4>
            </div>
            <div class="d-flex flex-column text-muted">
            <p class="m-0">Bluestock Fintech </p>
            <p>Pune, Maharashtra</p>
            </div>
            <div class="d-flex flex-column my-1 text-muted">
            <p class="m-0">MSME Registration No: </p>
            <p>UDYAM-MH-01-v0138001 </p>
            </div>
           
            <img src="../../assets/startup-india-logo.png" class="startup-india-logo" alt="startup-india-logo" >
        </div>
        <div class="investment-details col-md-7 col-sm-12 col-lg-8 d-flex flex-column align-items-center justify-content-center">
            <p>Investment in securities markets are subject to market risks, read all the related documents carefully before investing as prescribed by SEBI. Issued in the interest of the investors.</p>
            <p class="my-6">The users can write to <a href="hello@bluestock.in">hello@bluestock.in</a> hello@bluestock.in for any app, website related queries. Also you can send IT / Tech related feedback to <a href="cto@bluestock.in">cto@bluestock.in</a> </p>
            <p>Disclaimer: We are not a SEBI registered research analyst company. We do not provide any kind of stock recommendations, buy/sell stock tips, or investment and trading advice. All the stock scripts shown in the Bluestock app, website, all social media handles are for educational purposes only.
            Before making any investment in the financial market, it is advisable to consult with your financial advisor. Remember that stock markets are subject to market risks.</p>
        </div>
    </div>
    <hr>
    <div class="footer-end d-flex justify-content-between text-muted gap-3">
        <p>Bluestock Fintech All Rights Reserved.</p>
        <p>Made with ❤️ in Pune, Maharashtra</p>
    </div>
</div>